<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Pre-R{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 Pre-R, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
    {% endblock %}

    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>