{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Find your price.</h1>
      <p>Search for medical procedure costs from hospitals throughout the US.</p>
      <form role="form">
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" id="procedure-name" placeholder="Procedure Name" onkeypress="search(event)">
          </div>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="location" placeholder="City, State" onkeypress="search(event)">
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-danger" id="search-btn">Search</button>
          </div>
        </div>
    </div>
  </div>

  <div class="container marketing">


    <div class="row featurette">
      <div class="col-md-7">
        <img class="featurette-image img-responsive" src="../static/img/search.jpg" alt="Generic placeholder image">
      </div>
      <div class="col-md-5">
        <div class="content">
          <h1 class="featurette-heading">Search.</h1>
          <p class="lead">Use our extensive database of medical prices to find and compare medical procedure costs from hosptials throughout the US.</p>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <div class="content">
          <h1 class="featurette-heading">Upload.</h1>
          <p class="lead">Help increase our database of prices by uploading your personal medical bill via our mobile application.</p>
          <p class="lead">Available on <a href="#" style="color: #d2322d">Android &#155;</a> and <a href="#" style="color: #d2322d">iPhone &#155;</a>
        </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive pull-right" src="../static/img/upload.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <img class="featurette-image img-responsive" src="../static/img/contribute.jpg" alt="Generic placeholder image">
      </div>
      <div class="col-md-5">
        <div class="content">
          <h1 class="featurette-heading">Contribute.</h1>
          <p class="lead">Sign up to be a part of our data entry team that turns medical bills into searchable database entires.</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
{% endblock %}

{% block js %}
<script src="../static/js/index.js"></script>
{% endblock %}