{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="../static/css/search.css">
{% endblock %}

{% block content %}
<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-lg-7" id="left">
      <div class="container" id="list-container">
        <h3>
          <span id="proc_name" style="color: #d2322d; font-style:italic"></span> near 
          <span id="loc_name" style="color: #d2322d; font-style:italic"></span>
        </h3>

        <hr>
        <ul class="list-group">
          
        </ul>
      </div>
    </div>
    <div class="col-lg-5"><!--map-canvas will be postioned here--></div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaoT4466dropTf6IfppakdQ4BSG85hdeI&sensor=false"></script>
<script src="../static/js/search.js"></script>
{% endblock %}

<!-- Remove footer -->
{% block footer %}
{% endblock %}